{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class= "row mb-5 mt-5">
        <h1>Connexion</h1>
    </div>
    <div class= "row mb-5 mt-5">

        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <label class="control-label">Adresse mail</label>
                <input placeholder="Votre adresse mail" name="_username" required type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Mot de passe</label>
                <input placeholder="Votre mot de passe" name="_password" required type="password" class="form-control">
            </div>
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>
        </form>

    </div>
</div>



{% endblock %}