{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">
    <div class= "row mb-5 mt-5">
        <h1>Inscription</h1>
    </div>
    <div class= "row mb-5 mt-5">

        {{ form_start(form) }}

        {{ form_row(form.name, {'label': "Nom d'utilisateur", 'attr': {'placeholder': "Votre nom"}}) }}

        {{ form_row(form.email, {'label': "Adresse email", 'attr': {'placeholder': "Votre adresse e-mail"}}) }}

        {{ form_row(form.password, {'label': "Mot de passe", 'attr': {'placeholder': "Votre mot de passe"}}) }}
        <br>
        <button type="submit" class="btn btn-primary">S'inscrire</button>

        {{ form_end(form) }}

    </div>
</div>



{% endblock %}