<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Danger sur Mars{% endblock %}
		</title>
		{% block stylesheets %} <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css"> {% endblock %}
		</head>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="{{ path('home') }}">Danger sur Mars</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01" style="width:100%;">
					<ul class="navbar-nav mr-auto">
						{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('create_zone') }}">Ajouter une zone</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
					<ul class="navbar-nav ml-auto">
						{% if not app.user %}
                        <li class="nav-item">
							<a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		<body>

			{% block body %}
			{% endblock %}

			{% block javascripts %}{% endblock %}
		</body>
	</html>
