{% extends 'base.html.twig' %}

{% form_theme formZone 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">
    <div class= "row mb-5 mt-5">
        <h1>
            {% if editMode %}
                Modifier une zone dangereuse
            {% else %}
                Ajouter une zone dangereuse   
            {% endif %}
        </h1>
    </div>
    <div class= "row mb-5 mt-5">

        {{ form_start(formZone) }}

        {{ form_row(formZone.name, {'label': "Nom", 'attr': {'placeholder': "Nom de la zone"}}) }}

        {{ form_row(formZone.resume, {'label': "Description", 'attr': {'placeholder': "Descriptif de la zone"}}) }}

        {{ form_row(formZone.gps, {'label': "Coordonnées GPS", 'attr': {'placeholder': "Coordonnées GPS de la zone"}}) }}

        {{ form_row(formZone.ore, {'label': "Minerai", 'attr': {'placeholder': "Minerai présent dans la zone"}}) }}

        {{ form_row(formZone.danger, {'label': "Niveau de dangerosité", 'attr': {'placeholder': "Niveau de dangerosité de la zone"}}) }}
        <br>
        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter une zone
            {% endif %}
        </button>

        {{ form_end(formZone) }}

    </div>
</div>



{% endblock %}