{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class= "row mb-5 mt-5">
        <h1>Liste des Zones Dangereuses</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime labore reiciendis exercitationem, sapiente debitis neque unde enim quibusdam. Eligendi tenetur rerum alias voluptate quasi adipisci modi harum praesentium reiciendis earum!</p>
    </div>
</div>

<div class="container">
    <div class= "row mb-5 mt-5">
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Nom de la zone</th>
                <th scope="col">Descriptif de la zone</th>
                <th scope="col">Coordonnées GPS</th>
                <th scope="col">Minerai sur place</th>
                <th scope="col">Niveau de dangerosité</th>
                <th scope="col">Mise en ligne</th>
                {% if app.user %}
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for zone in zones %}
                <tr class="table-primary">
                    <th scope="row">{{ zone.name }}</th>
                    <td>{{ zone.resume }}</td>
                    <td>{{ zone.gps }}</td>
                    <td>{{ zone.ore }}</td>
                    <td>{{ zone.danger }}</td>
                    <td>{{ zone.createdAt | date ('d/m/Y') }}</td>
                    {% if app.user %}
                    <td><a href="{{ path('edit_zone',{'id': zone.id })}}" class="btn btn-info">Edit</a></td>
                    <td><a href="{{ path('remove',{'id': zone.id })}}" onclick="return confirm('Etes-vous sûr.e de vouloir supprimer ce film ?')" class="btn btn-danger">Supprimer</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            </table> 
    </div>
</div>

{% if app.user %}
<div class="container">
    <div class= "row mb-5 mt-5">
        <form action="{{ path('create_zone') }}" method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Ajouter une zone</button>
            </div>
        </form>
    </div>
</div>
{% endif %}



{% endblock %}